.map_block {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
	justify-content: flex-start;
}

.transport_list {
	width: 50%;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.transport_list {
		width: 100%;
		padding: 0;
	}
}