.footer {
	width: 100%;
	height: min-content;
	border-top: 0.5px solid #eaeaeaad;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2vh;
	padding: 0.2em;
	animation: appear 1s ease-in 0s forwards;
	-webkit-animation: appear 1s ease-in 0s forwards;
	-moz-animation: appear 1s ease-in 0s forwards;
}

.toggle_locale {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

@media (max-width: 600px) {
	/* .footer {
		height: 7vh;
	} */
}
