html,
body {
	padding: 0;
	margin: 0;
	font-family: "Lato";
	color: rgba(255, 255, 255, 0.87);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-x: hidden;
	--primary-color: #fff8e1;
	--primary-light: #ffffff;
	--primary-dark: #ccc5af;
	--secondary-color: #5d4037;
	--secondary-light: #8b6b61;
	--secondary-dark: #321911;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-family: "Philosopher";
}

@font-face {
	font-family: "Philosopher";
	src: url("../fonts/Philosopher-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

a {
	color: inherit;
	text-decoration: none;
	padding: 0 4px;
}

* {
	box-sizing: border-box;
}
