html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: "Didot", serif;
	color: white;
	text-shadow: 0 0.5px 0 black;
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Great_Vibes";
	src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

a {
	color: inherit;
	text-decoration: none;
	padding: 0 4px;
}

* {
	box-sizing: border-box;
}
