.header {
	width: 100%;
	height: 7vh;
	border-bottom: 0.5px solid #eaeaeaad;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	font-family: "Philosopher";
	align-items: center;
	text-align: center;
	font-size: 2.5vh;
	animation: appear 1s ease-in 0s forwards;
	-webkit-animation: appear 1s ease-in 0s forwards;
	-moz-animation: appear 1s ease-in 0s forwards;
	backdrop-filter: blur(30px);
	line-break: auto;
	position: fixed;
	top: 0;
	z-index: 100;
}

.nav_option {
	transition-property: text-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(100% / 9);
	cursor: pointer;
}

.nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_special {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-dark);
}

.nav_option::after {
	content: "";
	display: block;
	width: 0;
	border-bottom: 3px solid white;
	transition: width 0.5s;
}

.nav_option_clicked::after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 3px solid white;
	transition: width 0.3s;
}

.nav_option:hover::after {
	width: 100%;
}

.nav_option:hover,
.nav_option_clicked {
	text-shadow: 0px 0px 1px #fdfafac7;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(100% / 9);
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 1200px) {
	.header {
		font-size: 2vh;
		height: min-content;
		min-height: 8vh;
	}
	.nav_option {
		width: fit-content;
		min-width: 25%;
		padding-bottom: 0.5vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.nav_option::after {
		content: "";
		display: none;
	}

	.nav_option_clicked::after {
		content: "";
		display: none;
	}

	.nav_option:hover,
	.nav_option_clicked {
		text-shadow: 0px 0px 1px #fdfafac7;
		width: fit-content;
		min-width: 25%;
		padding-bottom: 0.5vh;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
