.splash {
	color: white;
	display: flex;
	height: 100%;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-shadow: 0 1px 0 black;
	font-size: 3vw;
}

@keyframes blur {
	0% {
		backdrop-filter: blur(1px);
	}
	100% {
		backdrop-filter: blur(10px);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
		url("https://lh3.googleusercontent.com/pw/ACtC-3cv0rtmjkN_2k4leqPZ4lirivhBxEcTeTFThMulAD9bSpS52OenllJCSp-yoepJDEYt46WKAU-GlSJTBHabZi1v45nBWMGL2TjXhIOvmtc60bh6SwbP6hMaAoOzbqTcJCJOMX17L6yDmRg-AkkSdM_z_Q=w2560-h1440-no?authuser=0")
			no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header {
	width: 100%;
	height: 10vh;
	border-bottom: 0.5px solid #eaeaeaad;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2vh;
	animation: appear 1s ease-in 0s forwards;
	-webkit-animation: appear 1s ease-in 0s forwards;
	-moz-animation: appear 1s ease-in 0s forwards;
}

.nav_option {
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.nav_option:hover,
.nav_option_clicked {
	font-size: 3vh;
	font-weight: bold;
	text-decoration: none;
}

.main {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	animation: blur 1s ease-in 0s forwards;
	-webkit-animation: blur 1s ease-in 0s forwards;
	-moz-animation: blur 1s ease-in 0s forwards;
}

.content {
	min-height: 80vh;
	width: 95vw;
	background-color: #eaeaeaad;
	color: black;
	font-size: 4vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1vw 3vw;
	animation: appear 1s ease-in 0s 1;
	-webkit-animation: appear 1s ease-in 0s 1;
	-moz-animation: appear 1s ease-in 0s 1;
}

.content p {
	text-align: justify;
}

.content a:hover {
	text-shadow: 0px 3px 3px #676262ab;
}

.content p,
.content h1 {
	animation: appear 1s ease-in 0s 1;
	-webkit-animation: appear 1s ease-in 0s 1;
	-moz-animation: appear 1s ease-in 0s 1;
}

.footer {
	width: 100%;
	height: 5vh;
	border-top: 0.5px solid #eaeaeaad;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vh;
	animation: appear 1s ease-in 0s forwards;
	-webkit-animation: appear 1s ease-in 0s forwards;
	-moz-animation: appear 1s ease-in 0s forwards;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
