.event_title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.calendar_button {
	margin-left: 1em;
	background-color: #c9baaf;
	border: none;
	border-radius: 5px;
	font-size: 2vh;
	padding: 4px;
	display: flex;
	align-items: center;
	transition: background-color 0.4s ease-out;
}

.calendar_button a {
	color: black;
}

.calendar_button:hover {
	background-color: #96897f;
}

.calendar_button a:hover {
	text-shadow: none;
	color: black;
}
