.event_title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 15vh !important;
}

.calendar_button {
	margin-left: 1em;
	background-color: #c9baaf;
	border: none;
	border-radius: 5px;
	font-size: 2vh;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 16vw;
	transition: background-color 0.4s ease-out;
}

.calendar_button a {
	color: black;
}

.calendar_button:hover {
	background-color: #96897f;
}

.calendar_button a:hover {
	text-shadow: none;
	color: black;
}

.button_group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 20% !important;
	animation: none !important;
}

.button_group a,
.button_group div {
	border-radius: 20px;
	background-color: #96897f;
	color: black;
	height: 35px;
	width: 35px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.google_button {
	animation: slide-in-up 0.5s forwards;
}

.apple_button {
	animation: slide-in-down 0.5s forwards !important;
}

@keyframes slide-in-up {
	0% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: translateX(1.5em) translateY(-0.5em) rotate(1080deg);
	}
}

@keyframes slide-in-down {
	0% {
		opacity: 1;
		transform: translateX(0px) translateY(0) rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: translateX(1.5em) translateY(0.5em) rotate(1080deg);
	}
}
