.timeline {
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.timeline::-webkit-scrollbar {
	display: none;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: var(--secondary-color);
}

.timeline ul {
	padding: 0;
}

.timeline ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}

.img_container {
	position: relative;
	bottom: 0;
	min-height: 15vh !important;
	height: 100% !important;
	width: 30vw !important;
	transition: all 0.3s ease-out;
}

.img_container div {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 15vh !important;
	background: var(--primary-color);
	transition: all 0.3s ease-out;
	text-align: center;
	padding: 15px;
	visibility: visible;
}

.img_container::before {
	content: "";
	position: absolute;
	bottom: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	transition: all 0.3s ease-out;
}

.timeline ul li:nth-child(odd) div {
	left: 2.5em;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent var(--primary-color) transparent transparent;
}

.timeline ul li:nth-child(even) div {
	left: -33vw;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent var(--primary-color);
}

.picture {
	opacity: 0;
	z-index: -1000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	object-fit: contain;
	height: 0%;
	width: 100%;
	object-position: top;
	transition: all 0.5s ease-out;
}

.img_container:hover .picture {
	opacity: 1;
	z-index: 1000;
	height: 250%;
}

.img_container:hover div {
	visibility: hidden;
	opacity: 0;
}

.img_container:hover::before {
	opacity: 0;
}

@media (max-width: 600px) {
	.timeline ul li:nth-child(even) div {
		left: -43vw;
	}

	.timeline ul li:nth-child(odd) div {
		left: 5em;
	}

	.img_container {
		display: block;
		min-height: 15vh !important;
		height: 100% !important;
		font-size: 2vh;
	}

	.img_container:hover .picture {
		opacity: 1;
		z-index: 1000;
		height: 100% !important;
		width: 150% !important;
	}
}
